<ion-view view-title="Home">
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list">
            <div class="item item-button-right">
                AAAA
                <span class="buttons">
                    <button class="button button-positive ion-android-done"></button>
                    <button class="button button-positive ion-ios-trash"></button>
                </span>
            </div>
            <div class="item item-button-right">
                BBBBB
                <span class="buttons">
                    <button class="button button-positive ion-android-done"></button>
                    <button class="button button-positive ion-ios-trash"></button>
                </span>
            </div>
        </div>
    </ion-content>
</ion-view>